{%extends 'base.html'%}
{%block inner%}

<!-- 按钮触发模态框 -->
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
    新增商品
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新增商品
                </h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/goods/add">
                    类型：<input type="radio" name="category"
                              readonly="readonly"
                              value="{{goodslist.category}}" checked>
                    {{goodslist.category}}<br><br>

                    <input  name="title" placeholder=" 品名"><br><br>
                    <input  name="price" placeholder=" 价格"><br><br>
                    <input  name="link" placeholder=" 链接"><br><br>
                    <input  name="image" placeholder=" 图片"><br><br>
                    <input type="submit" value="增加" class="btn btn-success">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<br>
<h4>商品总数量:{{goodslist.goods.length}}<br><br></h4>
{%for each in goodslist.goods%}

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
    商品id：{{each.gid}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/goods/del?category={{goodslist.category}}&gid={{each.gid}}"
       class="btn btn-danger"
       role="button">
        删除
    </a>
    <a href="/goods/update?category={{goodslist.category}}&gid={{each.gid}}&title={{each.title}}"
       class="btn btn-primary"
       role="button">
        更改
    </a>
</div>
<div class="panel panel-default">

    <div class="panel-body">

    品名：{{each.title}}<br>
    价格：{{each.price}}<br>
    链接：{{each.link}}<br>
    图片：{{each.image}}<br>

    </div>

</div>
</div>
</div>
</div>
{%endfor%}

{%endblock%}