<form name="salesinfo" method="post">
    <input  name="chargeid" placeholder=" id"><br><br>
    <input  name="username" placeholder=" 用户名"><br><br>
    <input  name="createDate" placeholder=" 日期"><br><br>
    <input  name="projectId" placeholder=" 项目id"><br><br>
    <input  name="productId" placeholder=" 产品id"><br><br>
    <input  name="client" placeholder=" 客户"><br><br>
    <input  name="type" placeholder=" 类型"><br><br>
    <input  name="count" placeholder=" 数量"><br><br>



    <input type="submit" value="增加">




</form>